@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12pt; 
    line-height: 1.5;
    margin: 0; 
    padding: 0;
}

h1 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16pt;
}

h4 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

a {    
    color:#00001a;
    text-decoration: none;
}    
a:active {
        color:#00001a;
        text-decoration: none;
    };
a:hover {
    color:#00004d;
    text-decoration: underline;
}
a:visited {
    color:#00001a;
    text-decoration: none;
};

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 12pt;
}

header {
    background-color: #222222;
    color: rgb(255, 136, 0);
    height: 150px;    
    padding: 30px;
}

header section {
    max-width: 900px;
    margin: auto;
}

#SiteTitle {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 38pt;
    line-height: 30pt;    
}

#SiteSubtitle {
    font-size: 18pt;
    margin: 0 0 10px 3px;
}

header a {    
    color:white;
    text-decoration: none;
}    
header a:active {
        color:white;
        text-decoration: none;
    };
header a:hover {
    color:white;
    text-decoration: underline;
}
header a:visited {
    color:white;
    text-decoration: none;
};

#SiteSubtitle a {    
    color:#444444;
    text-decoration: none;
}    

#SiteSubtitle a:active {
    color:#444444;
    text-decoration: none;
};

#SiteSubtitle a:hover {
    color:#444444;
    text-decoration: underline;
}

#SiteSubtitle a:visited {
    color:#444444;
    text-decoration: none;
};

#MainContent {
    margin: 30px;
    max-width: 900px;
    margin: auto;
}

