<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-9371be88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button-fc1309bf.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input-8dc180b9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-f4bd6e24.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox-ac2047d0.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-4a5e906b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-1684c79f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-231561f5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-9f807399.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-e64edce7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/lightTheme-aae6d10f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/button/_page.md-986a4c9f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-22712548.js">
	</head>
	<body>
		<div>


<div class="layout svelte-19rtkoe"><div class="header svelte-19rtkoe"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-19rtkoe"><div class="nav svelte-19rtkoe"><a href="/demos/sterling-svelte/" class="svelte-19rtkoe">Overview</a>
			<a href="/demos/sterling-svelte/theme" class="svelte-19rtkoe">Theme</a>
			<a href="/demos/sterling-svelte/components/button" class="svelte-19rtkoe">Button</a>
			<a href="/demos/sterling-svelte/components/input" class="svelte-19rtkoe">Input</a>
			</div>
		<div class="component svelte-19rtkoe"><h1>Button</h1>
<p>A styled HTML button element.</p>
<div class="example svelte-u7ibk1"><h1 class="svelte-u7ibk1"></h1>
	<div class="description svelte-u7ibk1"></div>
	
</div>
<h2>Design</h2>
<ul><li>The button size and padding are based on the inherited font</li>
<li>HTML button props are forwarded and events are bubbled</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>When true, disables the button and prevents interaction</td></tr>
<tr><td>shape</td>
<td>ButtonShape</td>
<td>Changes the shape of the button</td></tr>
<tr><td>variant</td>
<td>ButtonVariant</td>
<td>Changes the style of the button</td></tr></tbody></table>
<ul><li>ButtonVariant: ‘regular’ | ‘outline’ | ‘ghost’</li>
<li>ButtonShape: ‘circular’ | ‘rounded’ | ‘square’</li></ul>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>(default)</td>
<td>Content within the button (e.g. text, icon)</td></tr></tbody></table>
<h2>Theming</h2>
<table><thead><tr><th>Part</th>
<th>State</th>
<th>Theme variable</th></tr></thead>
<tbody><tr><td>background</td>
<td></td>
<td>—Button__background-color</td></tr>
<tr><td>border</td>
<td></td>
<td>—Button__border-color</td></tr>
<tr><td>border</td>
<td></td>
<td>—Button__border-radius</td></tr>
<tr><td>border</td>
<td></td>
<td>—Button__border-style</td></tr>
<tr><td>border</td>
<td></td>
<td>—Button__border-width</td></tr>
<tr><td>foreground</td>
<td></td>
<td>—Button__color</td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>hover</td>
<td>—Button__background-color—hover</td></tr>
<tr><td>border</td>
<td>hover</td>
<td>—Button__border-color—hover</td></tr>
<tr><td>foreground</td>
<td>hover</td>
<td>—Button__color—hover</td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>active</td>
<td>—Button__background-color—active</td></tr>
<tr><td>border</td>
<td>active</td>
<td>—Button__border-color—active</td></tr>
<tr><td>foreground</td>
<td>active</td>
<td>—Button__color—active</td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>border</td>
<td>focus-visible</td>
<td>—Button__border-color—focus</td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td>—Common__outline-color</td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td>—Common__outline-offset</td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td>—Common__outline-style</td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td>—Common__outline-width</td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>disabled</td>
<td>—Button__background-color—disabled</td></tr>
<tr><td>border</td>
<td>disabled</td>
<td>—Button__border-color—disabled</td></tr>
<tr><td>foreground</td>
<td>disabled</td>
<td>—Button__color—disabled</td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="18elez2">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-4a5e906b.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="18elez2"]').parentNode,
				version: "1672520399684",
				hydrate: {
					node_ids: [0, 3],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
