<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-544ff5b2.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch-d7e23dc8.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-b0306658.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-d6b8fafa.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-22b8cc09.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-79dc49f8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-16c7092a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-11e58407.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-6427c25a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Switch.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/button/_page.md-0a97ebfd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-e82896b6.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button-d09ce7f8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-7bfbf319.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-1fc18418.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-f6c4fca2.js">
	</head>
	<body>
		<div>


<div class="layout svelte-b38b6k"><div class="header svelte-b38b6k"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
      Dark Mode
    </label></div>
  <h1>sterling-svelte (in progress)</h1>
  <h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
  <div class="content svelte-b38b6k"><div class="nav svelte-b38b6k"><a href="/demos/sterling-svelte/" class="svelte-b38b6k">Overview</a>
      <a href="/demos/sterling-svelte/theme" class="svelte-b38b6k">Theme</a>
      <a href="/demos/sterling-svelte/components/button" class="svelte-b38b6k">Button</a>
      <a href="/demos/sterling-svelte/components/checkbox" class="svelte-b38b6k">Checkbox</a>
      <a href="/demos/sterling-svelte/components/dialog" class="svelte-b38b6k">Dialog</a>
      <a href="/demos/sterling-svelte/components/input" class="svelte-b38b6k">Input</a>
      <a href="/demos/sterling-svelte/components/label" class="svelte-b38b6k">Label</a>
      <a href="/demos/sterling-svelte/components/list" class="svelte-b38b6k">List</a>
      <a href="/demos/sterling-svelte/components/progress" class="svelte-b38b6k">Progress</a>
      <a href="/demos/sterling-svelte/components/radio" class="svelte-b38b6k">Radio</a>
      <a href="/demos/sterling-svelte/components/select" class="svelte-b38b6k">Select</a>
      <a href="/demos/sterling-svelte/components/slider" class="svelte-b38b6k">Slider</a>
      <a href="/demos/sterling-svelte/components/switch" class="svelte-b38b6k">Switch</a></div>
    <div class="component svelte-b38b6k"><h1>Button</h1>
<p>A styled HTML button element.</p>
<h2>Playground</h2>
<div class="example svelte-1nqh7j6">
</div>
<h2>Features</h2>
<ul><li>You can choose the shape of the button.</li>
<li>You can choose the appearance of the button.</li></ul>
<h2>Anatomy</h2>
<pre class="language-undefined"><!-- HTML_TAG_START --><code class="language-undefined">HTML button
  default slot</code><!-- HTML_TAG_END --></pre>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>shape</td>
<td>ButtonShape</td>
<td>Changes the shape of the button</td></tr>
<tr><td>variant</td>
<td>ButtonVariant</td>
<td>Changes the style of the button</td></tr></tbody></table>
<ul><li>ButtonVariant: ‘regular’ | ‘outline’ | ‘ghost’</li>
<li>ButtonShape: ‘circular’ | ‘rounded’ | ‘square’</li></ul>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td><em>default</em></td>
<td>Content within the button (e.g. text, icon)</td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="5kv8cy">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-22b8cc09.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="5kv8cy"]').parentNode,
				version: "1673820295916",
				hydrate: {
					node_ids: [0, 3],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
