<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="../_app/immutable/assets/_layout-5bb7d991.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button-fc1309bf.css" rel="stylesheet">
		<link href="../_app/immutable/assets/_page-66d072dc.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/start-b168ffea.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-fde511e3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons-980c88df.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-488f6d36.js">
		<link rel="modulepreload" href="../_app/immutable/components/pages/_layout.svelte-15a14771.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/lightTheme-71b82665.js">
		<link rel="modulepreload" href="../_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="../_app/immutable/components/pages/components/button/_page.md-0393fcd1.js">
	</head>
	<body>
		<div>


<div class="layout svelte-1kn9fsc"><div class="header svelte-1kn9fsc"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-1kn9fsc"><div class="nav svelte-1kn9fsc"><a href="/" class="svelte-1kn9fsc">Overview</a>
			<a href="/theme" class="svelte-1kn9fsc">Theme</a>
			<a href="/components/button" class="svelte-1kn9fsc">Button</a>
			</div>
		<div class="component svelte-1kn9fsc"><h1>Button</h1>
<p>A styled HTML button element.</p>
<div class="example svelte-18j20bb"><h1 class="svelte-18j20bb"></h1>
	<div class="description svelte-18j20bb"></div>
	
</div>
<h2>Design</h2>
<ul><li>The button size and padding are based on the inherited font</li>
<li>HTML button props and events are forwarded</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>When true, disables the button and prevents interaction</td></tr>
<tr><td>shape</td>
<td>ButtonShape</td>
<td>Changes the shape of the button</td></tr>
<tr><td>variant</td>
<td>ButtonVariant</td>
<td>Changes the style of the button</td></tr></tbody></table>
<ul><li>ButtonVariant: ‘regular’ | ‘outline’ | ‘ghost’</li>
<li>ButtonShape: ‘circular’ | ‘rounded’ | ‘square’</li></ul>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>(default)</td>
<td>Content within the button (e.g. text, icon)</td></tr></tbody></table>
<h2>Theme Variables</h2>
<table><thead><tr><th>Name</th>
<th>Usage</th></tr></thead>
<tbody><tr><td>—Button__background-color</td>
<td></td></tr>
<tr><td>—Button__background-color—active</td>
<td>active</td></tr>
<tr><td>—Button__background-color—disabled</td>
<td>disabled</td></tr>
<tr><td>—Button__background-color—hover</td>
<td>hover</td></tr>
<tr><td>—Button__border-color</td>
<td></td></tr>
<tr><td>—Button__border-color—active</td>
<td>active</td></tr>
<tr><td>—Button__border-color—disabled</td>
<td>disabled</td></tr>
<tr><td>—Button__border-color—focus</td>
<td>focus</td></tr>
<tr><td>—Button__border-color—hover</td>
<td>hover</td></tr>
<tr><td>—Button__border-radius</td>
<td></td></tr>
<tr><td>—Button__border-style</td>
<td></td></tr>
<tr><td>—Button__border-width</td>
<td></td></tr>
<tr><td>—Button__color</td>
<td></td></tr>
<tr><td>—Button__color—active</td>
<td>active</td></tr>
<tr><td>—Button__color—disabled</td>
<td>disabled</td></tr>
<tr><td>—Common__outline-color</td>
<td>keyboard focus</td></tr>
<tr><td>—Common__outline-offset</td>
<td>keyboard focus</td></tr>
<tr><td>—Common__outline-style</td>
<td>keyboard focus</td></tr>
<tr><td>—Common__outline-width</td>
<td>keyboard focus</td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="246dnp">
			import { start } from "../_app/immutable/start-b168ffea.js";

			start({
				env: {},
				paths: {"base":"","assets":""},
				target: document.querySelector('[data-sveltekit-hydrate="246dnp"]').parentNode,
				version: "1672509922080",
				hydrate: {
					node_ids: [0, 3],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
