<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout.cfb04499.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button.b0cd225d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox.21290c94.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Popover.4273d2b8.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dropdown.1066fd2c.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab.e143899b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList.5177713d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider.74bb6d72.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ColorPicker.15b00268.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dialog.796972fb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/List.dfa45459.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ListItem.1e5e6970.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem.cc34205e.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar.e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Progress.503082d6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio.6f37f004.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select.c07ff0a6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch.da872955.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea.41c050a6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tooltip.4148e3ce.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree.bfa7aa56.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeChevron.bc7417c4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItemDisplay.0f7f59e1.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItem.8439d3ea.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input.1137e9ee.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label.702f67d6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Link.06f1cbb9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuButton.9a658185.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator.dc88a5d0.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page.f3255e86.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground.1a0cd403.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/start.a9c2a79b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.3ab8247a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons.22973328.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.e3af1c97.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths.283d7d82.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/app.93823c60.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.svelte.7dc8f8f1.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/lightTheme.54f9b443.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/colors.3ec71f5a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input.579aebb3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/idGenerator.e5fbd04c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label.c5bd548f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/usingKeyboard.ec0b7511.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.6bd4216f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Link.57db0950.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuButton.83e317ed.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button.74c2ecbc.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuItem.9fbbc478.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Popover.372b4bfe.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/clickOutside.5904bc9a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuSeparator.d7fae47c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.ts.984db11e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout.da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/components-checkbox-page.md.6bca9fb3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox.5903eac6.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground.ff5e0b5e.js">
	</head>
	<body>
		<div>


<div>
</div>


			
			<script>
				{
					__sveltekit_13qojw9 = {
						env: {},
						assets: "/demos/sterling-svelte",
						base: "/demos/sterling-svelte",
						element: document.currentScript.parentElement
					};

					const data = [null,null];

					Promise.all([
						import("/demos/sterling-svelte/_app/immutable/entry/start.a9c2a79b.js"),
						import("/demos/sterling-svelte/_app/immutable/entry/app.93823c60.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_13qojw9.element, {
							node_ids: [0, 4],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
