<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-ec8b9f39.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button-7eef7ed9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label-f4debbf4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox-ef2c1897.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dialog-fb687867.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/List-78f3eb93.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem-c2ad94cd.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar-e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator-46976a57.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Progress-d5bcd081.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio-c407557d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider-4b4c7ebf.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch-8bdddfaf.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab-6efd137a.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList-86173e88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea-5d06570b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Field-75551eaf.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree-7b99f008.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeChevron-bc7417c4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItemDisplay-01563147.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItem-8439d3ea.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input-065dd372.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ListItem-2a426d0f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select-25795df1.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-f3255e86.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground-0553b13b.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-89052192.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-ce302ad6.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-b6d7d0a7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-a42eab13.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b4419565.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-fc3d6f1f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/lightTheme-054b9665.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Field-44068696.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/floating-ui.dom.esm-355bdf6a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/portal-77b71a51.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-e6956e0b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-18805cb5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label-cfb430ef.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/v4-a960c1f4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ListItem-195acc01.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-8adc93b3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/clickOutside-87d12399.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-0a20b2dd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/checkbox/_page.md-6418c36c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-323dbda0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground-fe28fd7a.js">
	</head>
	<body>
		<div>


<div>
</div>


		<script type="module" data-sveltekit-hydrate="1ahfrqi">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-89052192.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1ahfrqi"]').parentNode,
				version: "1678679364387",
				hydrate: {
					node_ids: [0, 4],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
