<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-3fc895f9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button-7b890f30.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label-e8d76d4f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox-64c3aae0.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio-d0341f71.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input-7c079569.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select-11049a22.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem-d874dcd3.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar-e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator-6841f9ac.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab-01d90c39.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList-cd46f368.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree-71bdaf7b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea-694d52d7.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-ea52e696.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground-ccd7ef4b.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-9ca5af64.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-2a6ec5ba.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-1d1c2319.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-8f48d2b2.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b4419565.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-2ece6eb8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/TextArea.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-adc581fe.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/floating-ui.dom.esm-797c2e09.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label-145a522b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-aeab7859.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/v4-a960c1f4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/dialog/_page.md-52f4f05f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground-87676494.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button-b1d25008.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Radio-50cef14f.js">
	</head>
	<body>
		<div>


<div>
</div>


		<script type="module" data-sveltekit-hydrate="1ahfrqi">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-9ca5af64.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1ahfrqi"]').parentNode,
				version: "1676571232217",
				hydrate: {
					node_ids: [0, 5],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
