<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout.8b749194.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button.c262aa51.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label.f4debbf4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox.8049dea3.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dialog.fb687867.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Popover.4273d2b8.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Progress.c2ac0d8e.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/List.5a356af1.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ListItem.5832987a.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem.45e9bfbd.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar.e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio.8fcb9e21.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select.79b6847b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider.c452c84f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch.f251f691.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab.658d6b3e.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList.648a67a5.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea.17345116.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tooltip.8a1250fb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree.e04de516.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeChevron.bc7417c4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItemDisplay.12e93ec2.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItem.8439d3ea.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Field.1aa3b6cb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input.52334bb7.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Link.8f972435.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuButton.9a658185.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator.46976a57.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground.8acbff77.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/start.1fb9d127.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.27ede9e8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons.99f3b8ed.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.896ce23e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths.2a1853b8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/app.f50970f4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.svelte.9e6eb8f7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/colors.da8c6586.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Field.c77a84c3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Tooltip.61763956.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.1a545ff6.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/usingKeyboard.0fe27737.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input.307d6049.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/idGenerator.e5fbd04c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label.ee686fce.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Link.6b4d8d5b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuButton.848f3d2d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button.4755eea9.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuItem.04cd15a8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/prefersReducedMotion.75841c81.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Popover.a19bc500.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/clickOutside.1909d812.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuSeparator.133bf73f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.ts.984db11e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout.da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/components-field-page.md.9e96e3eb.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox.3da55f49.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground.0473572f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ListItem.595e0ad7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select.6f1e5f6d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List.8bb6148d.js">
	</head>
	<body>
		<div>


<div>
</div>


			
			<script>
				{
					__sveltekit_1h313x5 = {
						env: {},
						assets: "/demos/sterling-svelte",
						base: "/demos/sterling-svelte",
						element: document.currentScript.parentElement
					};

					const data = [null,null];

					Promise.all([
						import("/demos/sterling-svelte/_app/immutable/entry/start.1fb9d127.js"),
						import("/demos/sterling-svelte/_app/immutable/entry/app.f50970f4.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1h313x5.element, {
							node_ids: [0, 7],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
