<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-29d5e98f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch-d7e23dc8.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-d6b8fafa.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-4429008c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-a1914b40.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-90fcad90.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-f1e64c31.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-eb45994c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Switch.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/label/_page.md-0901f7a7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-c52c1f5b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-48e67d2d.js">
	</head>
	<body>
		<div>


<div class="layout svelte-1yki74i"><div class="header svelte-1yki74i"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
      Dark Mode
    </label></div>
  <h1>sterling-svelte (in progress)</h1>
  <h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
  <div class="content svelte-1yki74i"><div class="nav svelte-1yki74i"><a href="/demos/sterling-svelte/" class="svelte-1yki74i">Overview</a>
      <a href="/demos/sterling-svelte/theme" class="svelte-1yki74i">Theme</a>
      <a href="/demos/sterling-svelte/components/button" class="svelte-1yki74i">Button</a>
      <a href="/demos/sterling-svelte/components/checkbox" class="svelte-1yki74i">Checkbox</a>
      <a href="/demos/sterling-svelte/components/dialog" class="svelte-1yki74i">Dialog</a>
      <a href="/demos/sterling-svelte/components/input" class="svelte-1yki74i">Input</a>
      <a href="/demos/sterling-svelte/components/label" class="svelte-1yki74i">Label</a>
      <a href="/demos/sterling-svelte/components/list" class="svelte-1yki74i">List</a>
      <a href="/demos/sterling-svelte/components/progress" class="svelte-1yki74i">Progress</a>
      <a href="/demos/sterling-svelte/components/radio" class="svelte-1yki74i">Radio</a>
      <a href="/demos/sterling-svelte/components/select" class="svelte-1yki74i">Select</a>
      <a href="/demos/sterling-svelte/components/slider" class="svelte-1yki74i">Slider</a>
      <a href="/demos/sterling-svelte/components/switch" class="svelte-1yki74i">Switch</a></div>
    <div class="component svelte-1yki74i"><h1>Label</h1>
<p>A styled HTML label element.</p>
<h2>Playground</h2>
<div class="example svelte-1nqh7j6">
</div>
<h2>Features</h2>
<ul><li>The label inherits color, when disabled opacity is set to 0.5.</li>
<li>HTML label props are forwarded and events are bubbled.</li></ul>
<h2>Anatomy</h2>
<pre class="language-undefined"><!-- HTML_TAG_START --><code class="language-undefined">HTML label
   _default_ slot</code><!-- HTML_TAG_END --></pre>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>Disables the label making it look inactive</td></tr></tbody></table>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td><em>default</em></td>
<td>The content to display within the label</td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="5ua85b">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-4429008c.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="5ua85b"]').parentNode,
				version: "1673723045397",
				hydrate: {
					node_ids: [0, 7],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
