<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/demos/sterling-svelte/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
		<link href="/demos/sterling-svelte/_app/immutable/assets/0.800c1637.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/14.59808ec5.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground.1a0cd403.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/VariantInput.5e017e95.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/start.9f8c42e5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/scheduler.5994fff1.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons.c89c5ba4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.9b30d24f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths.2f5a76a4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/app.008ef3e0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.0b5fc419.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/nodes/0.1c5f227c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/each.e59479a4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuSeparator.87d6f2dc.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/spread.8a54911c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/idGenerator.e5fbd04c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button.0a144bf5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label.eab449ce.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Link.d2a0e729.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider.1879d596.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/toNumber.7d991c8a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/toFinite.a9571526.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/nodes/14.a1814ec8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox.fb49901c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground.099b12c3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List.61193f86.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ListItem.06be61ee.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/countries.48751f7c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/VariantInput.ff69e429.js">
  </head>

  <body>
    <div>  <div> <div id="SterlingPortalHost"></div> </div> 
			
			<script>
				{
					__sveltekit_1gsrei8 = {
						assets: "/demos/sterling-svelte",
						base: "/demos/sterling-svelte",
						env: {}
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("/demos/sterling-svelte/_app/immutable/entry/start.9f8c42e5.js"),
						import("/demos/sterling-svelte/_app/immutable/entry/app.008ef3e0.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 14],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
  </body>
</html>
