<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout.8b749194.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button.7eef7ed9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label.f4debbf4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox.10bda917.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dialog.fb687867.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Progress.fffbe788.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/List.78f3eb93.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ListItem.2a426d0f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem.548e1c7a.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar.e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio.85f71a39.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select.25795df1.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider.2f1236a7.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch.a620efed.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab.6efd137a.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList.86173e88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea.5d06570b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tooltip.8a1250fb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree.7b99f008.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeChevron.bc7417c4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItemDisplay.d9a82c7b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItem.8439d3ea.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Field.887d739a.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input.065dd372.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Link.8f972435.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuButton.9a658185.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator.46976a57.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground.b7e2cd33.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/start.079a7b4f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.66106a15.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons.eb586d34.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.ce0d2c78.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths.46ddbc28.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/app.bd2eebc6.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.svelte.936d7768.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/colors.da8c6586.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Field.55a7bdeb.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/keyborg.esm.7544f288.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Tooltip.ea44e4d3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input.4f97b6fc.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/idGenerator.e5fbd04c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label.b6eadc9f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Link.09834e21.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuButton.2921917e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button.8cd71918.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuItem.cad92ebb.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/clickOutside.87d12399.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuSeparator.110f9999.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.ts.984db11e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout.da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/components-menubutton-page.md.a9e6ec6b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox.ece00478.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground.8208b0ec.js">
	</head>
	<body>
		<div>


<div>
</div>


			
			<script>
				{
					__sveltekit_cy7ry5 = {
						env: {},
						assets: "/demos/sterling-svelte",
						base: "/demos/sterling-svelte",
						element: document.currentScript.parentElement
					};

					const data = [null,null];

					Promise.all([
						import("/demos/sterling-svelte/_app/immutable/entry/start.079a7b4f.js"),
						import("/demos/sterling-svelte/_app/immutable/entry/app.bd2eebc6.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_cy7ry5.element, {
							node_ids: [0, 15],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
