<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-9371be88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider-99243872.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-bb04e63f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-0bf36347.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-826495f5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-d9be9def.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b6ca9006.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-cd436c9b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider.svelte_svelte_type_style_lang-dd36c6c0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/progress/_page.md-2903f718.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-cf95004c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider-e752efa8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-c738ffb3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-8d565795.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-0172be12.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ThemePropCard-e16647f4.js">
	</head>
	<body>
		<div>


<div class="layout svelte-19rtkoe"><div class="header svelte-19rtkoe"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-19rtkoe"><div class="nav svelte-19rtkoe"><a href="/demos/sterling-svelte/" class="svelte-19rtkoe">Overview</a>
			<a href="/demos/sterling-svelte/theme" class="svelte-19rtkoe">Theme</a>
			<a href="/demos/sterling-svelte/components/button" class="svelte-19rtkoe">Button</a>
			<a href="/demos/sterling-svelte/components/checkbox" class="svelte-19rtkoe">Checkbox</a>
			<a href="/demos/sterling-svelte/components/input" class="svelte-19rtkoe">Input</a>
			<a href="/demos/sterling-svelte/components/list" class="svelte-19rtkoe">List</a>
			<a href="/demos/sterling-svelte/components/progress" class="svelte-19rtkoe">Progress</a>
			<a href="/demos/sterling-svelte/components/radio" class="svelte-19rtkoe">Radio</a>
			<a href="/demos/sterling-svelte/components/select" class="svelte-19rtkoe">Select</a>
			<a href="/demos/sterling-svelte/components/slider" class="svelte-19rtkoe">Slider</a></div>
		<div class="component svelte-19rtkoe"><h1>Progress</h1>
<p>An indicator of a value between 0 and a maximum value.</p>
<div class="example svelte-u7ibk1"><h1 class="svelte-u7ibk1"></h1>
	<div class="description svelte-u7ibk1"></div>
	
</div>
<h2>Features</h2>
<ul><li>The progress bar can be horizontal or vertical.</li>
<li>An optional label can be specified.</li>
<li>The indicator can display semantic colors.</li>
<li>Callers can get the percentage (readonly) based on the value and max.</li>
<li>The progress size and padding are based on the inherited font.</li>
<li>HTML div props are forwarded and events are bubbled.</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>colorful</td>
<td>ProgressColorful</td>
<td>Changes the indicator color. Defaults to none.</td></tr>
<tr><td>disabled</td>
<td>boolean</td>
<td>Disables the progress making it look inactive</td></tr>
<tr><td>max</td>
<td>number</td>
<td>The maximum value to display. Defaults to 100</td></tr>
<tr><td>percent (read only)</td>
<td>number</td>
<td>The percentage of value / max</td></tr>
<tr><td>value</td>
<td>number</td>
<td>The current value to display</td></tr>
<tr><td>vertical</td>
<td>boolean</td>
<td>Displays the progress vertically</td></tr></tbody></table>
<ul><li>ProgressColorful: ‘none’ | ‘auto’ | ‘progress’ | ‘success’ | ‘warning’ | ‘error’<ul><li>auto: Set to ‘progress’ when value less than max and ‘success’ when value equals max.</li></ul></li></ul>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>label</td>
<td>The label associated with the progress</td></tr></tbody></table>
<h2>Theming</h2>
<table><thead><tr><th>Part</th>
<th>State</th>
<th>Theme variable</th></tr></thead>
<tbody><tr><td>background</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__background-color)" title="hsl(0, 0%, 100%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__background-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__border-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">0</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-radius</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-style</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-width</div>
</div></td></tr>
<tr><td>label slot</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--subtle)" title="hsl(0, 0%, 30%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--subtle</div>
</div></td></tr>
<tr><td>indicator</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>indicator</td>
<td>colorful=auto, less than 100%</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--progress)" title="#0099DD"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--progress</div>
</div></td></tr>
<tr><td>indicator</td>
<td>colorful=auto, equals 100%</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--success)" title="#03A64A"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--success</div>
</div></td></tr>
<tr><td>indicator</td>
<td>colorful=progress</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--progress)" title="#0099DD"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--progress</div>
</div></td></tr>
<tr><td>indicator</td>
<td>colorful=success</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--success)" title="#03A64A"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--success</div>
</div></td></tr>
<tr><td>indicator</td>
<td>colorful=warning</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--warning)" title="#F2A71B"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--warning</div>
</div></td></tr>
<tr><td>indicator</td>
<td>colorful=error</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--error)" title="#A62B1F"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--error</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__background-color--disabled)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__background-color--disabled</div>
</div></td></tr>
<tr><td>border</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__border-color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__border-color--disabled</div>
</div></td></tr>
<tr><td>label slot</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--disabled)" title="hsl(0, 0%, 85%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--disabled</div>
</div></td></tr>
<tr><td>indicator</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--disabled)" title="hsl(0, 0%, 85%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--disabled</div>
</div></td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="izxc7f">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="izxc7f"]').parentNode,
				version: "1673061750808",
				hydrate: {
					node_ids: [0, 7],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
