<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-9371be88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select-82a15429.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-8dd4283b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-0bf36347.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-d90dc0ac.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-f7794a62.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-cccc18e7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-938cdb4b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-005b1ae4.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select.svelte_svelte_type_style_lang-aae6d10f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/radio/_page.md-b53dc77a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-41430952.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-910eefdb.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ThemePropCard-32687d80.js">
	</head>
	<body>
		<div>


<div class="layout svelte-19rtkoe"><div class="header svelte-19rtkoe"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-19rtkoe"><div class="nav svelte-19rtkoe"><a href="/demos/sterling-svelte/" class="svelte-19rtkoe">Overview</a>
			<a href="/demos/sterling-svelte/theme" class="svelte-19rtkoe">Theme</a>
			<a href="/demos/sterling-svelte/components/button" class="svelte-19rtkoe">Button</a>
			<a href="/demos/sterling-svelte/components/checkbox" class="svelte-19rtkoe">Checkbox</a>
			<a href="/demos/sterling-svelte/components/input" class="svelte-19rtkoe">Input</a>
			<a href="/demos/sterling-svelte/components/list" class="svelte-19rtkoe">List</a>
			<a href="/demos/sterling-svelte/components/radio" class="svelte-19rtkoe">Radio</a>
			<a href="/demos/sterling-svelte/components/select" class="svelte-19rtkoe">Select</a>
			</div>
		<div class="component svelte-19rtkoe"><h1>Radio</h1>
<p>A styled HTML input type=radio element.</p>
<div class="example svelte-u7ibk1"><h1 class="svelte-u7ibk1"></h1>
	<div class="description svelte-u7ibk1"></div>
	
</div>
<h2>Design</h2>
<ul><li>The radio circle, dot, and label sizes are based on the inherited font.</li>
<li>The radio dot is pure CSS rather than an SVG or font icon.</li>
<li>The HTML input is rendered but not visible in order to apply styles.</li>
<li>HTML input props are forwarded and events are bubbled.</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>group</td>
<td>any</td>
<td>Use with bind to set the value as a radio is checked</td></tr></tbody></table>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>label</td>
<td>Content appearing after the radio</td></tr></tbody></table>
<h2>Theming</h2>
<table><thead><tr><th>Part</th>
<th>State</th>
<th>Theme variable</th></tr></thead>
<tbody><tr><td>background</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color)" title="hsl(0, 0%, 98%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Input__border-style</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Input__border-width</div>
</div></td></tr>
<tr><td>label slot</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>checked</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color)" title="hsl(0, 0%, 98%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color</div>
</div></td></tr>
<tr><td>border</td>
<td>checked</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color</div>
</div></td></tr>
<tr><td>dot</td>
<td>checked</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__outline-color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-color</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">undefined</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-offset </div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-style</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-width</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color--disabled)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color--disabled</div>
</div></td></tr>
<tr><td>border</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color--disabled</div>
</div></td></tr>
<tr><td>dot</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(---Input__color--disabled)" title="undefined"></div></div>
	<div class="name svelte-1y0a0r7">---Input__color--disabled</div>
</div></td></tr>
<tr><td>foreground</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color--disabled</div>
</div></td></tr>
<tr><td>label slot</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color--disabled</div>
</div></td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="kt8b4r">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-d90dc0ac.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="kt8b4r"]').parentNode,
				version: "1672959359467",
				hydrate: {
					node_ids: [0, 7],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
