<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-9371be88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider-99243872.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-866c0094.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-0bf36347.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-826495f5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-d9be9def.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b6ca9006.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-cd436c9b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider.svelte_svelte_type_style_lang-dd36c6c0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/select/_page.md-8158222c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-cf95004c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-8d565795.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-0172be12.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-c738ffb3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/countries-48751f7c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ThemePropCard-e16647f4.js">
	</head>
	<body>
		<div>


<div class="layout svelte-19rtkoe"><div class="header svelte-19rtkoe"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-19rtkoe"><div class="nav svelte-19rtkoe"><a href="/demos/sterling-svelte/" class="svelte-19rtkoe">Overview</a>
			<a href="/demos/sterling-svelte/theme" class="svelte-19rtkoe">Theme</a>
			<a href="/demos/sterling-svelte/components/button" class="svelte-19rtkoe">Button</a>
			<a href="/demos/sterling-svelte/components/checkbox" class="svelte-19rtkoe">Checkbox</a>
			<a href="/demos/sterling-svelte/components/input" class="svelte-19rtkoe">Input</a>
			<a href="/demos/sterling-svelte/components/list" class="svelte-19rtkoe">List</a>
			<a href="/demos/sterling-svelte/components/progress" class="svelte-19rtkoe">Progress</a>
			<a href="/demos/sterling-svelte/components/radio" class="svelte-19rtkoe">Radio</a>
			<a href="/demos/sterling-svelte/components/select" class="svelte-19rtkoe">Select</a>
			<a href="/demos/sterling-svelte/components/slider" class="svelte-19rtkoe">Slider</a></div>
		<div class="component svelte-19rtkoe"><h1>Select</h1>
<p>A single item that can be selected from a popup list of items.</p>
<div class="example svelte-u7ibk1"><h1 class="svelte-u7ibk1">Select</h1>
	<div class="description svelte-u7ibk1"></div>
	
</div>
<h2>Features</h2>
<h3>Mouse</h3>
<ul><li>Clicking within the select opens and closes the popup.</li>
<li>Clicking outside the select and popup closes the popup.</li></ul>
<h3>Keyboard</h3>
<ul><li>Arrow keys selected the next or previous item without opening the popup.</li>
<li>Space key opens and closes the popup when the select has focus.</li>
<li>Escape key closes the popup without changing selection.</li>
<li>Enter key selects the current item in the popup and closes the popup.</li></ul>
<h3>Misc</h3>
<ul><li>An optional label can be specified to identify the list of items.</li>
<li>The popup will dynamically position itself based on avaiable screen space.</li>
<li>The popup is given a unique ID per instance of select.</li>
<li>Chevron is pure CSS rather than an SVG or font icon.</li>
<li>Size and padding are based on the inherited font.</li>
<li>HTML div props are forwarded and events are bubbled.</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>Disables the select</td></tr>
<tr><td>items</td>
<td>any[]</td>
<td>The items to list in the popup</td></tr>
<tr><td>open</td>
<td>boolean</td>
<td>If the popup is open</td></tr>
<tr><td>selectedIndex</td>
<td>number</td>
<td>The index of the currently selected item</td></tr>
<tr><td>selectedItem (readonly)</td>
<td>any</td>
<td>The currently selected item</td></tr></tbody></table>
<h2>Events</h2>
<table><thead><tr><th>Name</th>
<th>Event.detail</th>
<th>Description</th></tr></thead>
<tbody><tr><td>itemSelectPending</td>
<td><code>{ index, item }</code></td>
<td>Raised as items are selected while the popup is open.</td></tr>
<tr><td>itemSelected</td>
<td><code>{ index, item }</code></td>
<td>Raised when an item is selected.</td></tr></tbody></table>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>(default)</td>
<td>A template for rendering each item. Item is passed disabled, index, item, and selected props</td></tr>
<tr><td>button</td>
<td>The button that opens and closes the popup. <code>Button</code> by default.</td></tr>
<tr><td>label</td>
<td>The label associated with the input. The selected item as text by default.</td></tr>
<tr><td>list</td>
<td>The list containing items within the popup. <code>List</code> by default.</td></tr>
<tr><td>value</td>
<td>The value display of of the current selected item.</td></tr></tbody></table>
<h2>Theming</h2>
<table><thead><tr><th>Part</th>
<th>State</th>
<th>Theme variable</th></tr></thead>
<tbody><tr><td>background</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color)" title="hsl(0, 0%, 98%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">3px</div></div>
	<div class="name svelte-1y0a0r7">--Input__border-radius</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Input__border-style</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Input__border-width</div>
</div></td></tr>
<tr><td>foreground</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color</div>
</div></td></tr>
<tr><td>label slot</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--subtle)" title="hsl(0, 0%, 30%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--subtle</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color--hover)" title="hsl(0, 0%, 100%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color--hover</div>
</div></td></tr>
<tr><td>border</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color--hover)" title="hsl(0, 0%, 45%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color--hover</div>
</div></td></tr>
<tr><td>foreground</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color--hover)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color--hover</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color--focus)" title="hsl(0, 0%, 100%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color--focus</div>
</div></td></tr>
<tr><td>border</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color--focus)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color--focus</div>
</div></td></tr>
<tr><td>foreground</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color--focus)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color--focus</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__outline-color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-color</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">0</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-offset</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-style</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-within</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-width</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__background-color--disabled)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__background-color--disabled</div>
</div></td></tr>
<tr><td>border</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__border-color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__border-color--disabled</div>
</div></td></tr>
<tr><td>foreground</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Input__color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Input__color--disabled</div>
</div></td></tr>
<tr><td>label slot</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--disabled)" title="hsl(0, 0%, 85%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--disabled</div>
</div></td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="1wqilbv">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1wqilbv"]').parentNode,
				version: "1673061750808",
				hydrate: {
					node_ids: [0, 9],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
