<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-78f58d95.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button-7b890f30.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label-e8d76d4f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox-cb9cfc38.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio-d0341f71.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input-7c079569.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select-11049a22.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab-01d90c39.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList-cd46f368.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree-71bdaf7b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea-694d52d7.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-2f8e2854.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground-8ece6200.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-d9d2a243.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-a2f545b7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-93522926.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-f859a6a1.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b4419565.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-fece0de8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/TextArea.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-5e52d2f9.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label-3583aa87.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-3000ed74.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/select/_page.md-2a47fb71.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-5131bf2d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-8f541c39.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground-10e74055.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/countries-48751f7c.js">
	</head>
	<body>
		<div>


<div>
</div>


		<script type="module" data-sveltekit-hydrate="1ahfrqi">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-d9d2a243.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1ahfrqi"]').parentNode,
				version: "1675063265007",
				hydrate: {
					node_ids: [0, 11],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
