<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-544ff5b2.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea-e93d1beb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-2f8e2854.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-d6b8fafa.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-c7d6bc61.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-79dc49f8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-16c7092a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-11e58407.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-f13b533e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/TextArea.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/select/_page.md-b255a9a5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-4b2ee5a3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-65a6abba.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-6558c4ff.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-a1f969f3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-7157b6fd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/countries-48751f7c.js">
	</head>
	<body>
		<div>


<div class="layout svelte-b38b6k"><div class="header svelte-b38b6k"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
      Dark Mode
    </label></div>
  <h1>sterling-svelte (in progress)</h1>
  <h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
  <div class="content svelte-b38b6k"><div class="nav svelte-b38b6k"><a href="/demos/sterling-svelte/" class="svelte-b38b6k">Overview</a>
      <a href="/demos/sterling-svelte/theme" class="svelte-b38b6k">Theme</a>
      <a href="/demos/sterling-svelte/components/button" class="svelte-b38b6k">Button</a>
      <a href="/demos/sterling-svelte/components/checkbox" class="svelte-b38b6k">Checkbox</a>
      <a href="/demos/sterling-svelte/components/dialog" class="svelte-b38b6k">Dialog</a>
      <a href="/demos/sterling-svelte/components/input" class="svelte-b38b6k">Input</a>
      <a href="/demos/sterling-svelte/components/label" class="svelte-b38b6k">Label</a>
      <a href="/demos/sterling-svelte/components/list" class="svelte-b38b6k">List</a>
      <a href="/demos/sterling-svelte/components/progress" class="svelte-b38b6k">Progress</a>
      <a href="/demos/sterling-svelte/components/radio" class="svelte-b38b6k">Radio</a>
      <a href="/demos/sterling-svelte/components/select" class="svelte-b38b6k">Select</a>
      <a href="/demos/sterling-svelte/components/slider" class="svelte-b38b6k">Slider</a>
      <a href="/demos/sterling-svelte/components/switch" class="svelte-b38b6k">Switch</a>
      <a href="/demos/sterling-svelte/components/textarea" class="svelte-b38b6k">TextArea</a></div>
    <div class="component svelte-b38b6k"><h1>Select</h1>
<p>A single item that can be selected from a popup list of items.</p>
<h2>Playground</h2>
<div class="example svelte-1nqh7j6">
</div>
<h2>Features</h2>
<ul><li>Identify the value and list of items with an associated label.</li></ul>
<h3>Mouse</h3>
<ul><li>Clicking within the select opens and closes the popup.</li>
<li>Clicking outside the select and popup closes the popup.</li></ul>
<h3>Keyboard</h3>
<ul><li>Arrow keys selected the next or previous item without opening the popup.</li>
<li>Space key opens and closes the popup when the select has focus.</li>
<li>Escape key closes the popup without changing selection.</li>
<li>Enter key selects the current item in the popup and closes the popup.</li></ul>
<h3>Popup</h3>
<ul><li>The popup is dynamically positioned based on avaiable screen space.</li></ul>
<h2>Anatomy</h2>
<pre class="language-undefined"><!-- HTML_TAG_START --><code class="language-undefined">  label slot
  value
  button
  popup
  list slot
    List
    _default_ slot (item template)</code><!-- HTML_TAG_END --></pre>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>Disables the select</td></tr>
<tr><td>items</td>
<td>any[]</td>
<td>The items to list in the popup</td></tr>
<tr><td>open</td>
<td>boolean</td>
<td>If the popup is open</td></tr>
<tr><td>selectedIndex</td>
<td>number</td>
<td>The index of the currently selected item</td></tr>
<tr><td>selectedItem (readonly)</td>
<td>any</td>
<td>The currently selected item</td></tr></tbody></table>
<h2>Events</h2>
<table><thead><tr><th>Name</th>
<th>Event.detail</th>
<th>Description</th></tr></thead>
<tbody><tr><td>itemSelectPending</td>
<td><code>{ index, item }</code></td>
<td>Raised as items are selected while the popup is open.</td></tr>
<tr><td>itemSelected</td>
<td><code>{ index, item }</code></td>
<td>Raised when an item is selected.</td></tr></tbody></table>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td><em>default</em></td>
<td>A template for rendering each item. Item is passed disabled, index, item, and selected props</td></tr>
<tr><td>button</td>
<td>The button that opens and closes the popup. <code>Button</code> by default.</td></tr>
<tr><td>label</td>
<td>The label associated with the input. The selected item as text by default.</td></tr>
<tr><td>list</td>
<td>The list containing items within the popup. <code>List</code> by default.</td></tr>
<tr><td>value</td>
<td>The value display of of the current selected item.</td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="586brg">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-c7d6bc61.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="586brg"]').parentNode,
				version: "1674105759456",
				hydrate: {
					node_ids: [0, 11],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
