<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-9371be88.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider-99243872.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page-c55fe1ee.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-0bf36347.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-826495f5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-d9be9def.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b6ca9006.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-cd436c9b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider.svelte_svelte_type_style_lang-dd36c6c0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/slider/_page.md-38d90271.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider-e752efa8.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-cf95004c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input-c738ffb3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/ThemePropCard-e16647f4.js">
	</head>
	<body>
		<div>


<div class="layout svelte-19rtkoe"><div class="header svelte-19rtkoe"><label><input type="checkbox"  title="indeterminate => follow OS/browser setting">
			Dark Mode
		</label></div>
	<h1>sterling-svelte (in progress)</h1>
	<h3>A modern, accessible, and lightweight UI component library for Svelte.</h3>
	<div class="content svelte-19rtkoe"><div class="nav svelte-19rtkoe"><a href="/demos/sterling-svelte/" class="svelte-19rtkoe">Overview</a>
			<a href="/demos/sterling-svelte/theme" class="svelte-19rtkoe">Theme</a>
			<a href="/demos/sterling-svelte/components/button" class="svelte-19rtkoe">Button</a>
			<a href="/demos/sterling-svelte/components/checkbox" class="svelte-19rtkoe">Checkbox</a>
			<a href="/demos/sterling-svelte/components/input" class="svelte-19rtkoe">Input</a>
			<a href="/demos/sterling-svelte/components/list" class="svelte-19rtkoe">List</a>
			<a href="/demos/sterling-svelte/components/progress" class="svelte-19rtkoe">Progress</a>
			<a href="/demos/sterling-svelte/components/radio" class="svelte-19rtkoe">Radio</a>
			<a href="/demos/sterling-svelte/components/select" class="svelte-19rtkoe">Select</a>
			<a href="/demos/sterling-svelte/components/slider" class="svelte-19rtkoe">Slider</a></div>
		<div class="component svelte-19rtkoe"><h1>Slider</h1>
<p>Slider allows users to set a value between a minimum and maximum by moving a visual ‘thumb’ along a line.</p>
<div class="example svelte-u7ibk1"><h1 class="svelte-u7ibk1">Slider</h1>
	<div class="description svelte-u7ibk1"></div>
	
</div>
<h2>Features</h2>
<ul><li>User can change value by dragging the thumb.</li>
<li>Arrow keys increment value up or down.</li>
<li>Horizontal or vertical layout</li>
<li>An optional label can be specified.</li>
<li>Callers can get the percentage (readonly) based on the value and max.</li>
<li>The progress size and padding are based on the inherited font.</li>
<li>HTML div props are forwarded and events are bubbled.</li></ul>
<h2>Props</h2>
<table><thead><tr><th>Name</th>
<th>Type</th>
<th>Default</th>
<th>Description</th></tr></thead>
<tbody><tr><td>disabled</td>
<td>boolean</td>
<td>false</td>
<td>Disables the progress making it look inactive</td></tr>
<tr><td>max</td>
<td>number</td>
<td>100</td>
<td>The maximum value.</td></tr>
<tr><td>min</td>
<td>number</td>
<td>0</td>
<td>The minimal value. .</td></tr>
<tr><td>precision</td>
<td>number</td>
<td>0</td>
<td>The number of decimal places allowed for the value.</td></tr>
<tr><td>step</td>
<td>number</td>
<td>undefined</td>
<td>The optional allowed increments between min and max.</td></tr>
<tr><td>value</td>
<td>number</td>
<td>0</td>
<td>The current value</td></tr>
<tr><td>vertical</td>
<td>boolean</td>
<td>false</td>
<td>If the slider should be vertical.</td></tr></tbody></table>
<h2>Slots</h2>
<table><thead><tr><th>Name</th>
<th>Description</th></tr></thead>
<tbody><tr><td>label</td>
<td>The label associated with the progress</td></tr></tbody></table>
<h2>Events</h2>
<table><thead><tr><th>Name</th>
<th>Event.detail</th>
<th>Description</th></tr></thead>
<tbody><tr><td>change</td>
<td><code>{ value }</code></td>
<td>Raised when the slider value changes.</td></tr></tbody></table>
<h2>Anatomy</h2>
<ul><li>label (optional): describes the slider value</li>
<li>slider: contains the track, fill, and thumb</li>
<li>track: displays the range between min and max</li>
<li>fill: displays filling betweenmin and value</li>
<li>thumb: a draggable button for changing the value</li></ul>
<h2>Theming</h2>
<table><thead><tr><th>Part</th>
<th>State</th>
<th>Theme variable</th></tr></thead>
<tbody><tr><td>background</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__background-color)" title="hsl(0, 0%, 100%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__background-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__border-color</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">0</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-radius</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-style</div>
</div></td></tr>
<tr><td>border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Common__border-width</div>
</div></td></tr>
<tr><td>fill</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color</div>
</div></td></tr>
<tr><td>label slot</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--subtle)" title="hsl(0, 0%, 30%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--subtle</div>
</div></td></tr>
<tr><td>thumb background</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__background-color)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__background-color</div>
</div></td></tr>
<tr><td>thumb border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__border-color)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__border-color</div>
</div></td></tr>
<tr><td>thumb border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Button__border-style</div>
</div></td></tr>
<tr><td>thumb border</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Button__border-width</div>
</div></td></tr>
<tr><td>thumb foreground</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__color</div>
</div></td></tr>
<tr><td>track</td>
<td></td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__background-color)" title="hsl(0, 0%, 92%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__background-color</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__outline-color)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-color</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">0</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-offset</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">solid</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-style</div>
</div></td></tr>
<tr><td>outline</td>
<td>focus-visible</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="literal svelte-1y0a0r7">2px</div></div>
	<div class="name svelte-1y0a0r7">--Common__outline-width</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>thumb background</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__background-color--hover)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__background-color--hover</div>
</div></td></tr>
<tr><td>thumb border</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__border-color--hover)" title="hsl(0, 0%, 45%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__border-color--hover</div>
</div></td></tr>
<tr><td>thumb foreground</td>
<td>hover</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__color--hover)" title="hsl(0, 0%, 15%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__color--hover</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>thumb background</td>
<td>active</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__background-color--active)" title="hsl(0, 0%, 92%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__background-color--active</div>
</div></td></tr>
<tr><td>thumb border</td>
<td>active</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__border-color--active)" title="hsl(0, 0%, 30%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__border-color--active</div>
</div></td></tr>
<tr><td>thumb foreground</td>
<td>active</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__color--active)" title="hsl(0, 0%, 30%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__color--active</div>
</div></td></tr>
<tr><td></td>
<td></td>
<td></td></tr>
<tr><td>background</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__background-color--disabled)" title="hsl(0, 0%, 96%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__background-color--disabled</div>
</div></td></tr>
<tr><td>border</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Common__border-color--disabled)" title="hsl(0, 0%, 75%)"></div></div>
	<div class="name svelte-1y0a0r7">--Common__border-color--disabled</div>
</div></td></tr>
<tr><td>label slot</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Display__color--disabled)" title="hsl(0, 0%, 85%)"></div></div>
	<div class="name svelte-1y0a0r7">--Display__color--disabled</div>
</div></td></tr>
<tr><td>thumb background</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__background-color--disabled)" title="hsl(0, 0%, 85%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__background-color--disabled</div>
</div></td></tr>
<tr><td>thumb border</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__border-color--disabled)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__border-color--disabled</div>
</div></td></tr>
<tr><td>thumb foreground</td>
<td>disabled</td>
<td><div class="theme-swatch svelte-1y0a0r7"><div class="value svelte-1y0a0r7"><div class="swatch svelte-1y0a0r7" style="background-color: var(--Button__color--disabled)" title="hsl(0, 0%, 60%)"></div></div>
	<div class="name svelte-1y0a0r7">--Button__color--disabled</div>
</div></td></tr></tbody></table></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="1g9wy7u">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-5b5ec50d.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1g9wy7u"]').parentNode,
				version: "1673061750808",
				hydrate: {
					node_ids: [0, 10],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
