<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout.cfb04499.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Button.b0cd225d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Callout.dd237dd5.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Checkbox.21290c94.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Popover.1c796c3d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dropdown.f38a696f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tab.e143899b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TabList.5177713d.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Slider.74bb6d72.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ColorPicker.15b00268.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Dialog.796972fb.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/List.dfa45459.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ListItem.1e5e6970.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuItem.4d97379f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuBar.e4be483f.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Progress.503082d6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Radio.6f37f004.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Select.7b642fa9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Switch.da872955.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea.41c050a6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tooltip.5e6952e0.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree.bfa7aa56.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeChevron.bc7417c4.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItemDisplay.0f7f59e1.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TreeItem.8439d3ea.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Input.1137e9ee.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Label.702f67d6.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Link.06f1cbb9.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuButton.9a658185.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/MenuSeparator.dc88a5d0.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_page.4bab2324.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Playground.1a0cd403.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/start.87e9fd03.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.666c980d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons.a662a271.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index.df243d32.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths.633a3ea3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/app.09e12b2f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.svelte.2e4fc2b1.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/lightTheme.54f9b443.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/colors.3ec71f5a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Input.0e21423b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/idGenerator.e5fbd04c.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label.e004c659.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Callout.a4f11223.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/usingKeyboard.1b1969e3.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/prefersReducedMotion.338e2d9f.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Link.18db2708.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuButton.b7ec10e7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Button.430eb087.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuItem.43fd4a71.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Popover.f95872d7.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/clickOutside.5904bc9a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/MenuSeparator.20979570.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/_layout.ts.984db11e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout.da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/entry/components-slider-page.md.8386d0e0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Slider.92512892.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/toNumber.2b34027e.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/toFinite.48b4d605.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox.f0ef92d5.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Playground.655aa626.js">
	</head>
	<body>
		<div>


<div>
</div>


			
			<script>
				{
					__sveltekit_1b4a9jl = {
						env: {},
						assets: "/demos/sterling-svelte",
						base: "/demos/sterling-svelte",
						element: document.currentScript.parentElement
					};

					const data = [null,null];

					Promise.all([
						import("/demos/sterling-svelte/_app/immutable/entry/start.87e9fd03.js"),
						import("/demos/sterling-svelte/_app/immutable/entry/app.09e12b2f.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_1b4a9jl.element, {
							node_ids: [0, 23],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
