<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="../_app/immutable/assets/_layout.3f2a1b6c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.7eef7ed9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Label.f4debbf4.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Checkbox.ef2c1897.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Dialog.fb687867.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Progress.fffbe788.css" rel="stylesheet">
		<link href="../_app/immutable/assets/List.78f3eb93.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ListItem.2a426d0f.css" rel="stylesheet">
		<link href="../_app/immutable/assets/MenuItem.0116d0eb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/MenuBar.e4be483f.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Radio.c407557d.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Select.25795df1.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Slider.2f1236a7.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Switch.a620efed.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tab.6efd137a.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TabList.86173e88.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Field.e0798fcc.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tree.7b99f008.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TreeChevron.bc7417c4.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TreeItemDisplay.01563147.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TreeItem.8439d3ea.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TextArea.5d06570b.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.065dd372.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Link.8f972435.css" rel="stylesheet">
		<link href="../_app/immutable/assets/MenuButton.9a658185.css" rel="stylesheet">
		<link href="../_app/immutable/assets/MenuSeparator.46976a57.css" rel="stylesheet">
		<link href="../_app/immutable/assets/_page.b5d1b74f.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Playground.5dd0093d.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.87f1d7fd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.111fe57f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/singletons.98af09d8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.398b15bf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/paths.0a379419.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.42232254.js">
		<link rel="modulepreload" href="../_app/immutable/entry/_layout.svelte.86d111b4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/TextArea.svelte_svelte_type_style_lang.93d4bcc3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Field.ac231aa0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/keyborg.esm.8cbf53be.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/portal.77b71a51.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.308d0f6f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.ad2b92dd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Label.51be3831.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/v4.a960c1f4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Link.736c1bf3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/MenuButton.6da255bb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.b27571c4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/MenuItem.a8985c11.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/clickOutside.87d12399.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/MenuSeparator.205bf3ce.js">
		<link rel="modulepreload" href="../_app/immutable/entry/_layout.ts.984db11e.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_layout.da46b06b.js">
		<link rel="modulepreload" href="../_app/immutable/entry/components-switch-page.md.67b8b38a.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Checkbox.52c41c49.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Switch.496e3143.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Playground.4b17e7e8.js">
	</head>
	<body>
		<div>


<div>
</div>


			
			<script>
				{
					__sveltekit_mzc4b6 = {
						env: {},
						assets: "/demos/sterling-svelte",
						base: new URL("..", location).pathname.slice(0, -1),
						element: document.currentScript.parentElement
					};

					const data = [null,null];

					Promise.all([
						import("../_app/immutable/entry/start.87f1d7fd.js"),
						import("../_app/immutable/entry/app.42232254.js")
					]).then(([kit, app]) => {
						kit.start(app, __sveltekit_mzc4b6.element, {
							node_ids: [0, 22],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
