<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/demos/sterling-svelte/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
		<link href="/demos/sterling-svelte/_app/immutable/assets/_layout-78f58d95.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Tree-b6384a32.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/TextArea-a851b14b.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/ThemePropCard-3f7aa302.css" rel="stylesheet">
		<link href="/demos/sterling-svelte/_app/immutable/assets/Example-8ece6200.css" rel="stylesheet">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/start-83f97c31.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-6a84fe7d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/singletons-dc6b2811.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/index-ca027e21.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/paths-b4419565.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/_layout.svelte-728a0469.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/TextArea.svelte_svelte_type_style_lang-ae4f99bd.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Select-5777427a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Label-54fd61bf.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/List-0f666709.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/modules/pages/_layout.ts-9cbb603b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/_layout-da46b06b.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/components/pages/components/treechevron/_page.md-2b39c89d.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Checkbox-ab9905d0.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/Example-10eade5a.js">
		<link rel="modulepreload" href="/demos/sterling-svelte/_app/immutable/chunks/TreeChevron-9196c05a.js">
	</head>
	<body>
		<div>


<div>
</div>


		<script type="module" data-sveltekit-hydrate="1ahfrqi">
			import { start } from "/demos/sterling-svelte/_app/immutable/start-83f97c31.js";

			start({
				env: {},
				paths: {"base":"/demos/sterling-svelte","assets":"/demos/sterling-svelte"},
				target: document.querySelector('[data-sveltekit-hydrate="1ahfrqi"]').parentNode,
				version: "1674934679342",
				hydrate: {
					node_ids: [0, 16],
					data: [null,null],
					form: null
				}
			});
		</script>
	</div>
	</body>
</html>
