---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
    font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;  
}

.gc-logo {
    font-family: 'Bree Serif', Georgia, 'Times New Roman', Times, serif;
}

.source-code {
    font-family: 'Source Code Pro', monospace;  
}

.inner {      
      max-width: 900px;    
    }

.simple-link {    
    color:white;
    text-decoration: none;    
    &:active {
        color:white;
        text-decoration: none;
    };
    &:hover {
        color:white;
        text-decoration: none;
    }
    &:visited {
        color:white;
        text-decoration: none;
    };
}

#forkme_banner {

    display: block;
  
    position: absolute;
  
    top:0;
  
    right: 10px;
  
    z-index: 10;
  
    padding: 10px 50px 10px 10px;
  
    color: #fff;
  
    background: url('../images/blacktocat.png') #212121 no-repeat 95% 50%;
  
    font-weight: 700;
  
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  
    border-bottom-left-radius: 2px;
  
    border-bottom-right-radius: 2px;
  
  }