---
---

//@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

//----------------------------------------
// HTML base styles
//----------------------------------------

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 12pt; 
    line-height: 1.5;
    margin: 0; 
    padding: 10px;
    background-color:#EAD6BE;
}

h1 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

h2 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16pt;
}

h4 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

a {    
    color:#5397BA;
    text-decoration: none;
    font-weight: bold;    
    &:active {
        color:#5397BA;
        text-decoration: none;
    };
    &:visited {
        color:#5397BA;
        text-decoration: none;
    };
    &:hover {
        color:#5397BA;
        text-decoration: underline;
    }    
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 12pt;
}

//----------------------------------------
// Site Header
//----------------------------------------

header {
    background-color: #2F3B47;
    height: 90px;    
    padding: 30px;

    section {
        max-width: 900px;
        margin: auto;
    }

    .title {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color:  rgb(255, 136, 0);
        font-size: 38pt;
        line-height: 30pt;
    }    

    .subtitle {
        font-size: 18pt;
        margin: 0 0 10px 3px;
    }

    .links {
        color:  rgb(255, 136, 0);
    }

    a {    
        color:#EBB95A;
        text-decoration: none;    
        &:active {
            color:#EBB95A;
            text-decoration: none;
        };
        &:visited {
            color:#EBB95A;
            text-decoration: none;
        };  
        &:hover {
            color:#EBB95A;
            text-decoration: underline;
        }          
    }

    blockquote {
        border-left: '4px solid';
        border-left-color: #EBB95A;
        padding: '0 0 0 4px'
    }
}

#MainContent {
    margin: 30px;
    max-width: 900px;
    margin: auto;
}

