---
---

//@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

//----------------------------------------
// HTML base styles
//----------------------------------------

body {
    font-family: 'Vollkorn', Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt; 
    margin: 0; 
    padding: 0;
}

h1 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

h2 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 18pt;
}

h3 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 16pt;
}

h4 {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 14pt;
}

a {    
    color:#00001a;
    text-decoration: none;    
    &:active {
        color:#00004d;
        text-decoration: none;
    };
    &:hover {
        color:#00004d;
        text-decoration: underline;
    }
    &:visited {
        color:#00001a;
        text-decoration: none;
    };
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 12pt;
}

//----------------------------------------
// Site Header
//----------------------------------------

header {
    background-color: #222222;
    height: 150px;    
    padding: 30px;
}

header section {
    max-width: 900px;
}

#SiteTitle {
    font-family: 'Bree Serif', Georgia, 'Times New Roman', Times, serif;
    font-size: 38pt;
}

#SiteLink {
    font-size: 24pt;
}

#SiteLink a {    
    color:white;
    text-decoration: none;    
    &:active {
        color:white;
        text-decoration: none;
    };
    &:hover {
        color:white;
        text-decoration: underline;
    }
    &:visited {
        color:white;
        text-decoration: none;
    };
}

#MainContent {
    margin: 30px;
    max-width: 900px;
}

